@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    *{
        transition: .3s;
    }
    .fade-in{
        animation: fade_in .5s linear;
        opacity: 1 ;
    }

    @keyframes fade_in {
        0%{
            opacity: 0;
        }
        80%{
            opacity: 1;
        }
    }
}